@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'BC Alphapipe';
	src: url('/fonts/BC Alphapipe L Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

.font-alphapipe {
	font-family: 'BC Alphapipe';
	font-weight: 400;
}
